.footer-contacts {
    margin-bottom: 60px;
    & a {
        color: white;
        font-size: 1.16rem;
        line-height: 49.66px;
        text-decoration: none;
        transition: all 1s;
        &:hover {
            color: #FFAC1C;
        }
    }
}

@media screen and (max-width: 1024px) {
    .footer-contacts {
        margin-bottom: 50px;
        & a {
            font-size: $medium-font;
            line-height: 35.47px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer-contacts {
        margin-bottom: 40px;
        & a {
            font-size: $xsmall-font;
            line-height: 31.21px;
        }
    }
}