.restaurant {
    padding: 218px 0 185px;
    &__text {
        font-size: $medium-font;
        font-weight: 400;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .restaurant {
        padding: 183px 0 153px;
        &__text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 768px) {
    .restaurant {
        padding: 171px 0 99px;
    }
}